
<body ng-app="app">

  <ng-view>
    <div class="container" ng-controller="HomeController">
      <div class="col-md-6 well text-center">
        <div class="form">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="task" placeholder="Zadanie do wykonania" style="text-align: center" >
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="dodajtaska()"><span
           
              class="glyphicon glyphicon-ok"></span> Dodaj</button>
            </span>
          </div>
</div>

      <ul class="list-group" >
        <li class="list-group-item clearfix task" ng-repeat="message in lista" > 
          <p class="lead">{{message.Tresc}}</p>
          
          
          <div>
            
<div ng-show="message.Email == emailwer">
            <span class="pull-right">
    
              <button class="btn btn-primary btn-xs" ng-click="doneTask(message)" ><span class="glyphicon glyphicon-ok-sign" 
            ></span></button>
            
              <button class="btn btn-danger btn-xs" ng-click="deleteTask(message)"><span class="glyphicon glyphicon-trash" 
               ></span></button>
            </span>
            </div>
         </div>
        
          
        </li>
       </ul>


    </div>
</div>